Flask==0.10
urllib3==1.8
setuptools==2.2
gunicorn==18.0
-e git+https://github.com/douban/douban-utils.git@5ca697545da191dab3fbe308e6b6776d8da83bd5#egg=DoubanUtils
-e git+https://github.com/alexband/douban-sqlstore.git@ba3e67027217ffae7734615bc5122d6d4221bad7#egg=DoubanSQLStore
-e git+https://github.com/douban/douban-orz.git@208b48177dc847ef2afdadfda302868c39797bdf#egg=ORZ
-e git+https://github.com/douban/python-libmemcached.git@71fb66d473bbab82c2b6ddb410a386dd84417fa3#egg=python_libmemcached
-e git+https://github.com/douban/douban-mc.git@f594ab28af464f25a54263d1cc312e895e65b1f4#egg=DoubanMC
-e git+https://github.com/alexband/douban-beansdb.git@011c446a3de7302f8e6511cb326dcaf22746b356#egg=DoubanBeansDB

